################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookOfKnowledge/.vs/BookOfKnowledge/v16/Server/sqlite3
